# === TELEGRAM ===
TELEGRAM_BOT_TOKEN=8725212789:AAGgcIcnGWAZbGJdoY3ylN9lzV2AyZLXQEw
# Придумайте любую строку — Telegram будет передавать её в каждом запросе
TELEGRAM_WEBHOOK_SECRET=придумайте_любой_секрет_123

# === JIRA ===
JIRA_URL=https://fincortex.atlassian.net
JIRA_EMAIL=o.shabaltas@basdigital.cz
JIRA_API_TOKEN=ATATT3xFfGF0Cry8kbXVRdG1XaZO0ev0V6EhcSriKNhlv4e5XSXBORTVPtPBSVMuyHi0nwOZNnQ-lLhKDXL6uDN4LyVz4CSAqRukKisuvPeifqZDpS9F2mJ7jibb5YKK0UXX-IujzvB6BK8anwpvnjFCMc6-_CaJiMCc1OcxxMlaeLkM9oXzjXo=B7C1B749

# === NOTION ===
NOTION_TOKEN=ntn_r97406168065ib9LniSLfnThZPrYdaWkvYQqMBl6dwQfQF
NOTION_PROJECTS_DB_ID=38724496-0466-81da-baef-ec0b8c8a2c97
NOTION_USERS_DB_ID=38724496-0466-8112-b881-edfd5a99ddfa
